@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;600&display=swap');
body {
    font-family: 'Roboto';
    color: #3B4157;
}

a {
    color: orange;
}

b {
    font-weight: 900;
}

mark {
    background-color: orange;
}

.mark {
    background-color: #F5F5F5;
}

.float-right {
    height: 280px;
    margin-left: 48px;
}

.float-right2 {
    height: 280px;
    margin: 24px 0 24px 48px;
    float: right;
}

.float-left {
    height: 280px;
    margin-right: 48px;
    margin-top: -16px;
}

.float-left2 {
    height: 280px;
    margin: 24px 48px 24 0;
    float: left;
}

.background-gray {
    background-color: #F5F5F5;
    padding: 24px 48px;
}

.radius-24 {
    border-radius: 24px;
    box-shadow: 0 0 20px #00000026;
}

.radius-50 {
    border-radius: 50%;
}

.orange {
    color: orange !important;
    font-size: 56px !important;
}

.mg-3 {
    margin: 0 24px 56px !important;
}

.br-desk {
    display: block;
}

.br-mobile {
    display: none;
}

.mobile-none {
    display: block !important;
}


/* PRE HEADER */

.pre-header {
    padding: 16px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.pre-header__logo {
    display: block;
}

.pre-header__logo img {
    margin: auto;
    display: block;
}


/* HEADER */

.header {
    padding: 56px 0;
}

.header__title {
    font-weight: 900;
    text-align: center;
    font-size: 56px;
    line-height: 1;
}

.header__subtitle {
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    line-height: 1;
}

.header__text {
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}

.header__image img {
    display: block;
    margin: 32px auto 0;
    border-radius: 24px;
    box-shadow: 0 0 20px #00000026;
}


/* CONTENT */

.content__text {
    font-weight: 400;
    font-size: 1.2384rem;
    margin: 0;
    line-height: 1.3;
}

.content__text-image {
    font-weight: 400;
    font-size: 1.2384rem;
    margin: 0;
    line-height: 1.3;
    margin-bottom: 48px;
}

.content__subtitle {
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    line-height: 1;
}

.content__title {
    font-weight: 800;
    text-align: center;
    font-size: 36px;
    margin: 80px auto;
    line-height: 1;
}

.content__title-imagem {
    font-weight: 800;
    text-align: center;
    font-size: 40px;
    margin: 80px auto 32px;
    line-height: 1;
}

.content__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__image img {
    display: block;
    margin: 56px auto 32px;
}

.content__imagem-title img {
    display: block;
    margin: 0 auto 32px;
}

.content__image-left {
    margin-right: 32px;
}

.content__image-right {
    margin-left: 32px;
}

.content__destaque {
    font-weight: 900;
    font-size: 28px;
    color: #3B4157;
    font-style: italic;
}

.w-60 {
    height: 350px !important;
    box-shadow: 0 0 20px #00000026;
}

.w-40 {
    width: 54% !important;
    height: auto !important;
}

.mg-negativa {
    margin-top: -88px;
}

.h-new {
    height: 240px;
}

.content__button {
    padding: 16px 56px;
    border-radius: 64px;
    font-size: 24px;
    font-weight: 700;
    background-color: #1FAB36;
    box-shadow: 0 0 15px #1FAB36;
    margin: 0 auto 48px;
    display: block;
    text-align: center;
    border: none;
    color: white;
    transition: .4s ease-in-out;
}

.content__button:hover {
    transform: scale(1.1);
}

.content__btn-txt {
    text-align: center;
    margin: -45px auto 48px;
    font-weight: 400;
    font-size: 20px;
    color: #989BA6;
}

.content__assinatura img {
    width: 300px;
    margin: 24px 0;
}

.selo {
    height: 250px;
}


/* DEPOIMENTOS */

.depoimento {
    margin: 48px auto;
    display: flex;
    align-items: center;
}

.depoimento__box {
    display: flex;
    align-items: center;
}

.depoimento__content {
    margin-left: 48px;
}

.depoimento__content-destaque {
    display: flex;
    justify-content: space-between;
}

.depoimento__image {
    border-radius: 50%;
    height: 180px;
    box-shadow: 0 0 20px #00000026;
}

.depoimento__image-destaque {
    border-radius: 50%;
    height: 240px;
    box-shadow: 0 0 20px #00000026;
}

.depoimento__name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
}

.depoimento__name-destaque {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}

.depoimento__text {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.depoimento__text-destaque {
    font-weight: 400;
    font-size: 18px;
    margin: 0 48px 0 0;
    line-height: 3;
}

.depoimento__date {
    font-size: 16px;
    font-weight: 300;
}

.depoimentos__card__star {
    width: 100px;
}

.depoimentos__card__star img {
    width: 100%;
}

.depoimento__card {
    padding: 20px 32px 32px;
    background-color: #F5F5F5;
    border-radius: 24px;
    margin-bottom: 48px;
}


/* HIGHLIGHT */

.highlight__subtitle {
    font-weight: 500;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    color: #9f0000;
    margin: 0;
}

.highlight__title {
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    margin-bottom: 48px;
}


/* DUBLE */

.content__duble {
    margin: 0 auto 48px;
}

.content__duble__image {
    display: block;
    margin: auto;
    width: 100%;
}

.content__duble__image img {
    width: 100%;
}

.content__duble__text {
    font-weight: 400;
    font-size: 1.2384rem;
    margin: 0;
}


/* FAQ CSS */

#faq {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    text-align: center;
    background-color: #fff;
    margin-bottom: 40px;
}

#faq .accordion button .accordion-title {
    color: #3B4157;
    padding-left: 36px;
}

#faq .accordion button .icon {
    color: orange;
    border: 1px solid;
    border-radius: 0;
    border: none;
    left: 0;
}

#faq .accordion .accordion-content p {
    font-weight: 400;
    margin: 2em 0;
    color: #3B4157;
}

.lista-form {
    color: #3B4157;
}

.form-lista {
    font-size: 1rem;
}

.form-lista::marker {
    color: #3B4157;
}

.accordion {
    text-align: left;
    transition: 0.4s ease-in-out;
}

.accordion-item {
    border: 0px solid rgba(0, 0, 0, .125);
}

.accordion .accordion-item {
    border-bottom: 1px solid #3B4157 !important;
}

.accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid orange;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 2em 1em 0;
    color: orange;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: orange;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded=true] {
    color: orange;
}

.accordion button[aria-expanded=true] .icon::after {
    width: 0;
}

.accordion button[aria-expanded=true]+.accordion-content {
    opacity: 1;
    max-height: 30em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    color: orange;
}

.accordion .accordion-content p a {
    color: orange;
    font-weight: 700;
    text-decoration: underline;
}

.accordion .accordion-content p .underline {
    text-decoration: underline
}


/* END FAQ CSS */

.x_1a067148 {
    text-align: center;
    margin-bottom: 24px;
}


/* FOOTER */

.footer {
    background-color: #F5F5F5;
    padding: 64px;
}

.footer__description {
    font-size: 14px;
    color: #989BA6;
    line-height: 1;
    margin-bottom: 32px;
}

.footer__logo img {
    width: 80%;
}

.footer__police {
    font-size: 12px;
    color: #989BA6;
    text-align: right;
    margin: 0;
}

.image-mobile {
    display: none;
}

.image-mobile2 {
    display: none;
}

@media only screen and (max-width: 991px) {
    #faq .accordion button .accordion-title {
        padding-left: 25px;
    }
    .accordion button {
        font-size: 17px;
    }
    .accordion .accordion-content p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 767px) {
    #faq .accordion button .accordion-title {
        padding-left: 25px;
    }
    .accordion button {
        font-size: 17px;
    }
    .accordion .accordion-content p {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .content__image-title img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 630px;
    }
    .header__title {
        font-size: 48px;
    }
    .header__subtitle {
        font-size: 31px;
    }
    .header__text {
        font-size: 18px;
    }
    .content__text {
        font-size: 18px;
    }
    .content__subtitle {
        font-size: 18px;
    }
    .content__title {
        font-size: 28px;
    }
    .content__image {
        width: 100%;
    }
    .content__image img {
        margin: 0 auto 18px;
        width: 100%;
    }
    .header__image img {
        width: 100%;
    }
    .highlight__subtitle {
        font-size: 24px;
    }
    .highlight__title {
        font-size: 32px;
    }
    .content__title-image {
        font-size: 28;
    }
    .content__destaque {
        font-size: 24px;
    }
    .float-right {
        display: none;
    }
    .float-right2 {
        display: none;
    }
    .float-left {
        display: none;
    }
    .float-left2 {
        display: none;
    }
    .image-mobile {
        display: block;
        margin-bottom: 32px;
    }
    .image-mobile img {
        height: 280px;
        margin: auto;
        display: block;
    }
    .image-mobile2 {
        display: block;
        margin: 32px 0;
    }
    .image-mobile2 img {
        height: 280px;
        margin: auto;
        display: block;
    }
    .mg-3 {
        margin: 0 !important;
    }
    .depoimento__box {
        display: block;
        padding: 0;
    }
    .background-gray {
        padding: 40px;
    }
    .depoimento__image {
        margin: 0 auto 32px;
    }
    .depoimento__name-destaque {
        font-size: 18px;
    }
    .depoimento__content-destaque {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .depoimento__image-destaque {
        height: 170px;
    }
    .depoimento__content {
        margin: 0;
    }
    .mg-negativa {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .w-40 {
        width: 100% !important;
    }
    .br-desk {
        display: none;
    }
    .br-mobile {
        display: block;
    }
    .orange {
        font-size: 48px !important;
    }
    .content__image-title img {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .content {
        padding: 0 24px;
    }
    .flex-image img {
        height: auto;
        width: 100%;
    }
    .mobile-none {
        display: none !important;
    }
    .background-gray {
        padding: 32px;
    }
    .flex img {
        height: auto;
        width: 100%;
    }
    .header__title {
        font-size: 40px;
    }
    .header__subtitle {
        font-size: 24px;
    }
    .header__text {
        font-size: 20px;
        line-height: 1;
    }
    .content__text {
        font-size: 18px;
    }
    .content__title {
        font-size: 28px;
    }
    .content__title-imagem {
        font-size: 28px;
    }
    .content__imagem-title img {
        width: 100%;
    }
    .highlight__subtitle {
        font-size: 26px;
    }
    .highlight__title {
        font-size: 28px;
    }
    .footer__police {
        text-align: center;
    }
    .image-mobile {
        display: block;
        margin-bottom: 32px;
    }
    .image-mobile img {
        width: 100%;
        height: auto;
    }
    .image-mobile2 {
        display: block;
        margin: 32px 0;
    }
    .image-mobile2 img {
        width: 100%;
        height: auto;
    }
    .depoimento__text-destaque {
        margin: 0;
        line-height: 2.5;
    }
    .orange {
        font-size: 36px !important;
    }
}